:root {
    background-color: #282828;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: white;
}

.banner {
    width: 70vw;
    display: block;
    margin: 0 auto; 
    padding: 20px 0;
}

.imgContainer {
    height: 100vh;
}

.gradient {
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7b4397, #dc2430);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7b4397, #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px 0; 
    height: 80vh
}

.cards {
    width: 750px;
    min-height: 500px;
    columns: 2 auto;
    column-gap: 50px; 
    margin-top: 75px; 
}


.cards > * {
    background-color: white;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(40, 40, 40, 1));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    break-inside: avoid; 
}