.initHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232a33;
    border: 1px solid black;
    height: 75px;
}

.inline {
    display: flex;
    align-items: center;
}

.btnGreen, .hollowBtn {
    height: fit-content;
    border: 2px solid #3e424b;
    transition: 0.15s;
    border-radius: 5px;
    margin: 0px 50px;
}

.btnGreen {
    background-color: #31ce90;
    color: black;
}

.btnGreen:hover {
    border: 2px solid white;
}

.hollowBtn, .inline{
    background: transparent;
    color: white;

}

.hollowBtn:hover {
    background-color: darkred;
}

.inline {
    font-size: 2rem;
}

.alignHeader {
    width: 12vw;
}