

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.sidebar .toggleButton {
  text-decoration: none;
  font-size: 35px;
  background-color: transparent;
  color: white;
  display: block;
  transition: 0.3s;
  width: 30px;
  padding: 0;
  text-align: center;
}

.sidebarStat {
  background-color: #1f1f1f;
  padding: 20px;
  width: 100%;
  color: white;
}

.sidebarStat:hover {
  background-color: rgba(40, 40, 40, 1);
}

.mainPage {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  scrollbar-color: #1f1f1f transparent; 
  scrollbar-width: thin;  
}

.mainPage::-webkit-scrollbar {
  width: 10px;
}

.mainPage::-webkit-scrollbar-track {
  background: transparent;
}

.mainPage::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}


.editBtn {
  background-color: transparent;
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 0px;
  margin-bottom: 20px;
}

.blockBtn {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-top: 2vh;
}

.removeBtn {
  padding: 0;
  height: 100%;
  width: 25%;
  border-radius: 0% 10% 10% 0%;
  background-color: rgba(255,0,0, 0.5);
  color: white;
}

.changeBlockBtn {
  color: white;
  background-color: transparent;
  height: 100%;
  padding: 0;
  padding-left: 10px;
  width: 25%;
  border-radius: 10% 0% 0% 10%;
  background-color: #1f1f1f;
}

.changeBlockBtn:hover {
  background-color: rgba(40, 40, 40, 1);
}

.monsterList {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  scrollbar-color: #1f1f1f transparent;
}

.statBlockContainer {
  display: flex;
  flex-direction: row;
  margin: 100px;
  flex-wrap: wrap;
}

.warnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: #111;
  color: white;
  border-radius: 10px;
  padding: 25px;
  transition: 0.5s;
}

.deleteButton {
  display: flex;
  gap: 30px;
}

.deleteButton > * {
  border-radius: 5px;
  color: white;
}

.noBtn {
  background-color: rgba(255,0,0, 0.5);
}

.yesBtn {
  background-color: #248f24;
}