body {
    background-color: #1f1f1f;

}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f1f1f;
    align-items: flex-start;
    padding: 50px 20px 20px;
    width: 100%;
}

form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25vh;
}

.btns {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    height: fit-content;
    width: calc(100% - 40px);
    margin-bottom: 50px;
}

.backContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.backContainer h1 {
    color: white;
    margin: 0;
}

button {
    padding: 12px 20px;
    cursor: pointer;
    border: none;
}

.continuebtn button {
    background-color: green;
    color: white;
    border-radius: 5px;
}

.backbtn {
    background-color: #1f1f1f;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.backbtn:hover {
    cursor: pointer;
    background-color: #333;
}

input, textarea {
    border: 1px solid white;
    padding: 12px;
    background-color: #1f1f1f;
    color: white;
    width: 100%;
}

textarea {
    resize: none;
}

label {
    display: block; 
    margin-bottom: 5px;
    color: white;
}

.buttonGrid, .partOne, .partTwo, .partThree, .partFour, .partFive, .partSix, .partSeven {
    display: grid;
    gap: 20px;
}

.partOne {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.partThree {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.partTwo {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.partFour, .partSix {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partFive {
    grid-template-columns: 1fr 1fr;
}

.buttonGrid {
    grid-template-columns: 1fr 1fr 1fr;
}

.vulnGrid {
    text-align: center;
}


form > label, .addBtn > label {
    font-size: 25px;
}

.formGroup {
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
}

.legendBox {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.legendBox > input {
    width: 30%;
}

.legendBox > label {
    width: 60%;
}

ul {
    list-style: none;
    margin: 0px;
}

ul > * {
    margin: 10px;
    color: white;
}

.vulnGrid > ul {
    padding: 0px;
}

.vulnGrid > button {
    border: 1px solid white;
    padding: 12px;
    background-color: #1f1f1f;
    color: white;
}

.addBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.addBtn > button {
    border-radius: 5px;
    padding: 10px;
    background-color: #248f24;
    color: white;
    width: 10%;
}

