.dmImg {
    width: 300px;
}

.noteContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.noteCard {
    background-color: white;
    width: fit-content;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.noteCard:hover {
    cursor: pointer;
}
