@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Raleway';
}

img {
    width: 900px;
}

.trim {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.blur {
    filter: blur(2px);
}