@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Raleway', sans-serif;
    background-color: #1f1f1f;
}

html, body {
    height: 100vh
}

.mainContainer {
    background-color: #1f1f1f;  
}

.card, .monsterCard {
    border-radius: 10px;
    padding: 20px;
    width: 40vw;
    min-height: 100px;
}

.monsterCard {
    width: 35vw;
    gap: 50px;
    padding: 0;
}

.card, .card > * {
    background-color: white;
    margin-bottom: 50px;
}

.card:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%;
    background-color: #1f1f1f;
    margin-top: 100px;
}


.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

.dropbtn:hover {
    background-color: #f1f1f1;
}

.dropdownContent {
    min-width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid white;
    padding: 12px;
    background-color: transparent;
    max-height: 500px;
    overflow-y: scroll;
}

.dropdownContent.show {
    display: block;
}

.dropdownContent.hide {
    display: none;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdownContent a:first-child {
    border-radius: 5px 5px 0 0;
}

.dropdownContent a:last-child {
    border-radius: 0 0 5px 5px;
}

.templateContainer {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 0px;
    width: 35vw;
}

.templateContainer button {
    border: 1px solid white;
    padding: 12px;
    background-color: #1f1f1f;
    color: white;
}