body {
    overflow-x: hidden;
}

.statCreator {
    background-color: #1f1f1f;
    height: 100vh;
}
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #1f1f1f;
}

.btns {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    height: fit-content;
    width: calc(100% - 40px);
    margin-bottom: 50px;
}

.backContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.backContainer h1 {
    color: white;
    margin: 0;
}

button {
    padding: 12px 20px;
    cursor: pointer;
    border: none;
}

.continuebtn button {
    background-color: green;
    color: white;
    border-radius: 5px;
}

.backbtn {
    background-color: #1f1f1f;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.backbtn:hover {
    cursor: pointer;
    background-color: #333;
}